In [2]:
import pandas as pd

bb_music = pd.read_csv("billboard.csv")
bb_music

,artiste,track,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,98,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,99,99.0,99.0,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,99,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
bb_music.shape

(317, 81)

In [4]:
bb_music.head(3)

,artiste,track,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
bb_music = bb_music.rename (columns={
    'artiste': 'artiste',
    'track' : 'track',
    'genre' : 'genre',
    'date.entered': 'date_entered',
    'date.peaked' : 'date_peaked',
    'x1st.week' : 'first_week',
    'x2nd.week' : 'second_week',
    'x3rd.week' : 'third_week',
    'x4th.week' : 'fourth_week',
    'x5th.week' : 'fifth_week'
    
})

In [6]:
bb_music

,artiste,track,genre,date_entered,date_peaked,first_week,second_week,third_week,fourth_week,fifth_week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,98,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,99,99.0,99.0,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,99,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
bb_music = bb_music.loc[:, ['artiste', 'track','genre', 'date_entered', 'date_peaked', 'first_week', 'second_week', 'third_week', 'fourth_week', 'fifth_week']]

In [8]:
bb_music

,artiste,track,genre,date_entered,date_peaked,first_week,second_week,third_week,fourth_week,fifth_week
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,2.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,23.0
...,...,...,...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,98,NaN,NaN,NaN,NaN
313,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,99,99.0,99.0,99.0,NaN
314,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,99,99.0,NaN,NaN,NaN
315,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,99,99.0,NaN,NaN,NaN
316,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,99,NaN,NaN,NaN,NaN

In [9]:
bb_music.shape

(317, 10)

In [10]:
bb_music.isna().sum()

artiste          0
track            0
genre            0
date_entered     0
date_peaked      0
first_week       0
second_week      5
third_week      10
fourth_week     17
fifth_week      25
dtype: int64

In [11]:
bb_music.isna().mean()

artiste         0.000000
track           0.000000
genre           0.000000
date_entered    0.000000
date_peaked     0.000000
first_week      0.000000
second_week     0.015773
third_week      0.031546
fourth_week     0.053628
fifth_week      0.078864
dtype: float64

In [12]:
bb_music.dropna(thresh = 4)

,artiste,track,genre,date_entered,date_peaked,first_week,second_week,third_week,fourth_week,fifth_week
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,2.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,23.0
...,...,...,...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,98,NaN,NaN,NaN,NaN
313,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,99,99.0,99.0,99.0,NaN
314,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,99,99.0,NaN,NaN,NaN
315,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,99,99.0,NaN,NaN,NaN
316,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,99,NaN,NaN,NaN,NaN

In [13]:
bb_music.shape

(317, 10)

In [14]:
bb_music.dtypes

artiste          object
track            object
genre            object
date_entered     object
date_peaked      object
first_week        int64
second_week     float64
third_week      float64
fourth_week     float64
fifth_week      float64
dtype: object

In [15]:
bb_music['date_entered'] = pd.to_datetime(bb_music['date_entered'])

In [16]:
bb_music

,artiste,track,genre,date_entered,date_peaked,first_week,second_week,third_week,fourth_week,fifth_week
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,2.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,23.0
...,...,...,...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,98,NaN,NaN,NaN,NaN
313,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,99,99.0,99.0,99.0,NaN
314,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,99,99.0,NaN,NaN,NaN
315,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,99,99.0,NaN,NaN,NaN
316,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,99,NaN,NaN,NaN,NaN

In [17]:
bb_music['date_peaked'] = pd.to_datetime(bb_music['date_peaked'])

In [18]:
bb_music.dtypes

artiste                 object
track                   object
genre                   object
date_entered    datetime64[ns]
date_peaked     datetime64[ns]
first_week               int64
second_week            float64
third_week             float64
fourth_week            float64
fifth_week             float64
dtype: object

In [19]:
week = pd.melt(bb_music, id_vars = ['date_entered', 'date_peaked'], value_vars=['first_week', 'second_week', 'third_week', 'fourth_week', 'fifth_week'],
                  value_name='', var_name='week')

In [20]:
bb_music

,artiste,track,genre,date_entered,date_peaked,first_week,second_week,third_week,fourth_week,fifth_week
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,2.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,23.0
...,...,...,...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,98,NaN,NaN,NaN,NaN
313,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,99,99.0,99.0,99.0,NaN
314,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,99,99.0,NaN,NaN,NaN
315,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,99,99.0,NaN,NaN,NaN
316,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,99,NaN,NaN,NaN,NaN

In [22]:
week.tail()

     date_entered date_peaked        week
1580   2000-08-05  2000-08-05  fifth_week NaN
1581   2000-02-12  2000-02-12  fifth_week NaN
1582   2000-09-02  2000-09-02  fifth_week NaN
1583   2000-07-01  2000-07-01  fifth_week NaN
1584   2000-10-28  2000-10-28  fifth_week NaN

In [23]:
week

     date_entered date_peaked        week
0      2000-09-23  2000-11-18  first_week  78.0
1      2000-02-12  2000-04-08  first_week  15.0
2      1999-10-23  2000-01-29  first_week  71.0
3      2000-08-12  2000-09-16  first_week  41.0
4      2000-08-05  2000-10-14  first_week  57.0
...           ...         ...         ...   ...
1580   2000-08-05  2000-08-05  fifth_week   NaN
1581   2000-02-12  2000-02-12  fifth_week   NaN
1582   2000-09-02  2000-09-02  fifth_week   NaN
1583   2000-07-01  2000-07-01  fifth_week   NaN
1584   2000-10-28  2000-10-28  fifth_week   NaN

[1585 rows x 4 columns]

In [20]:
bb_music.insert (3, 'entered_to_peak', bb_music['date_peaked'] - bb_music['date_entered'])

In [21]:
bb_music

,artiste,track,genre,entered_to_peak,date_entered,date_peaked,first_week,second_week,third_week,fourth_week,fifth_week
0,Destiny's Child,Independent Women Part I,Rock,56 days,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0
1,Santana,"Maria, Maria",Rock,56 days,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0
2,Savage Garden,I Knew I Loved You,Rock,98 days,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0
3,Madonna,Music,Rock,35 days,2000-08-12,2000-09-16,41,23.0,18.0,14.0,2.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,70 days,2000-08-05,2000-10-14,57,47.0,45.0,29.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,R&B,0 days,2000-08-05,2000-08-05,98,NaN,NaN,NaN,NaN
313,"Smith, Will",Freakin' It,Rap,0 days,2000-02-12,2000-02-12,99,99.0,99.0,99.0,NaN
314,Zombie Nation,Kernkraft 400,Rock,0 days,2000-09-02,2000-09-02,99,99.0,NaN,NaN,NaN
315,"Eastsidaz, The",Got Beef,Rap,0 days,2000-07-01,2000-07-01,99,99.0,NaN,NaN,NaN
316,Fragma,Toca's Miracle,R&B,0 days,2000-10-28,2000-10-28,99,NaN,NaN,NaN,NaN

In [22]:
bb_music.dtypes

artiste                     object
track                       object
genre                       object
entered_to_peak    timedelta64[ns]
date_entered        datetime64[ns]
date_peaked         datetime64[ns]
first_week                   int64
second_week                float64
third_week                 float64
fourth_week                float64
fifth_week                 float64
dtype: object